$accent: #ff9900;

$headerHeight: 44px;

// font sizes
$normal: 14px;
$large: 18px;
$xlarge: 24px;

html, body {
	padding: 0;
	margin: 0;
    background-color: #eee;
}

header {
	position: absolute;
	left: 0px;
    right: 0px;
    top: 0px;
    height: $headerHeight;
    background-color: $accent;
    background-image: url(../images/dynamodb.svg);
    background-repeat: no-repeat;
    background-size: $headerHeight;

    h1 {
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: $xlarge;
        line-height: $headerHeight;
        font-weight: 100;
        letter-spacing: 0.1em;
        margin: 0px;
        padding: 0px;
        margin-left: $headerHeight;
    }
}